html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  color: #fff;
  background-color: #333;
}

#app {
  position: relative;
}

#loader,
#quotes {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loader {
  p {
    font-size: 1.5rem;
  }
}

#quotes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;

  #quote {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.125;
    font-weight: normal;
    margin-bottom: 3rem;
    padding: 0 2rem;
    text-align: center;

    &.quote-sm {
      max-width: 550px;
    }

    &.quote-lg {
      max-width: 800px;
    }
  }

  #source {
    font-family: "La Belle Aurore", cursive;
    font-size: 2rem;
    max-width: 750px;
    padding: 0 2rem;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    opacity: 0.75;
  }

  &.loaded {
    animation: showBg 2s ease-in-out 0s 1 forwards;

    #quote {
      animation: showQuote 2s ease-in-out 0s 1 forwards;
    }

    #source {
      animation: showSource 2s ease-in-out 0s 1 forwards;
    }
  }
}

#refresh {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
  color: white;
  opacity: 0.7;
  width: 2rem;
  height: 2rem;

  svg {
    width: 2rem;
    height: 2rem;
  }
}

#source:before {
  content: "— ";
}

#datetime {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2rem;
  opacity: 0.7;

  #time {
    font-size: 3rem;
    font-weight: bold;
  }

  #date {
    font-size: 1.5rem;
  }
}

@keyframes showBg {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showQuote {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateY(1rem);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showSource {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
